__pycache__/
DECINT.egg-info/
*.pyc

/Whitepaper/white_paper.synctex.gz
/Whitepaper/white_paper.toc
/Whitepaper/white_paper.aux
/Whitepaper/white_paper.dvi
/Whitepaper/white_paper.log
white_paper.aux
white_paper.log
white_paper.synctex.gz
white_paper.toc
