__pycache__/
DECINT.egg-info/
*.pyc

/Whitepaper/white_paper.synctex.gz
/Whitepaper/white_paper.toc
/Whitepaper/white_paper.aux
/Whitepaper/white_paper.dvi
/Whitepaper/white_paper.log
white_paper.aux
white_paper.log
white_paper.synctex.gz
white_paper.toc
.idea/DECINT-node.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
